body {
    background-color: lemonchiffon;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    border-bottom: 10px solid white;
    background-color: #D0F0C0;
    margin: 0;
}

nav > div {
    margin-right: 10px;
}

.tabs:hover {
    background-color: beige;
    transition: background-color 1.5s;
}

nav a {
    margin-right: 10px;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
}

.tabs > a:hover {
    color: lightgrey;
    transition: color 1.5s;
    transition: margin-left 1.5s;
    margin-left: 10px;
}

#cart {
    margin-left: 1260px;
    position: absolute;
}

#cart:hover {
    background-color: beige;
    transition: background-color 1.5s;
}

#cart > a :hover {
     color: lightgrey;
     transition: color 1.5s;
}


.card {
    background-color: white;
    width: 1000px;
    height: 150px;
    display: flex;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#cart-items {
    display: flex;
    flex-wrap: wrap;
    position: center;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}

.tea-picture {
    border-radius: 5px 5px 0 0;
    #max-width: 100%;
    #max-height: 100%;
    #width: 20%;
    height: 75%;
    #margin: 10px;
    width: 150px;
    height: 143px;
    margin: 3px;
    #display: block;
}

.nameOfTea {
    margin-top: 60px;
    margin-left: 20px;
    width: 200px;
}

.size-quantity {
    margin-top: 53px;
    margin-left: 10px;
    overflow:visible;
    #background-color: aqua;
    height: 100px;
    width: 200px;
}

.price-delete {
    margin-top: 59px;
    margin-left: 400px;
    height: 100px;
    width: 200px;
}

h4 {
    font-family: Arial;
    font-size: 40px;
    color: black;
    #how can I fade in the text?;
    transition: 2s;
    text-align: center;
}





